<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.geneanet.customcamera"
    version="0.2.0"
>
    <name>GeneanetCustomCamera</name>
    <description>This cordova plugin is an alternative to the official cordova plugin (camera). It starts a custom camera: image overlay with an opacity slider, user-defined color of the buttons, activating/deactivating functions.</description>
    <license>BSD</license>
    <keywords>custom,camera,geneanet</keywords>
    <repo>https://github.com/geneanet/customCamera</repo>
    <issue>https://github.com/geneanet/customCamera/issues</issue>
    <js-module src="www/customCamera.js" name="GeneanetCustomCamera">
        <clobbers target="navigator.GeneanetCustomCamera" />
    </js-module>

    <hook type="after_plugin_install" src="hooks/after_plugin_install/npminstall.js" />

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CustomCamera">
                <param name="android-package" value="org.geneanet.customcamera.CameraLauncher"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <source-file src="src/android/CameraLauncher.java" target-dir="src/org/geneanet/customcamera" />
        <source-file src="src/android/customCamera/src/org/geneanet/customcamera/ManagerCamera.java" target-dir="src/org/geneanet/customcamera" />
        <source-file src="src/android/customCamera/src/org/geneanet/customcamera/CameraPreview.java" target-dir="src/org/geneanet/customcamera" />
        <source-file src="src/android/customCamera/src/org/geneanet/customcamera/VerticalSeekBar.java" target-dir="src/org/geneanet/customcamera" />
        <source-file src="src/android/customCamera/src/org/geneanet/customcamera/BitmapUtils.java" target-dir="src/org/geneanet/customcamera" />
        <source-file src="src/android/customCamera/src/org/geneanet/customcamera/TmpFileUtils.java" target-dir="src/org/geneanet/customcamera" />

        <hook type="before_compile" src="hooks/before_compile/generateActivity.js" />
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CustomCamera">
                <param name="ios-package" value="CustomCamera" />
            </feature>
        </config-file>
        <config-file target="config.xml" parent="/*">
            <feature name="LocalStorage">
                <param name="ios-package" value="CDVLocalStorage" />
            </feature>
        </config-file>

        <header-file src="src/ios/classes/CustomCamera.h" />
        <source-file src="src/ios/classes/CustomCamera.m" />

        <header-file src="src/ios/classes/AVCamPreviewView.h" />
        <source-file src="src/ios/classes/AVCamPreviewView.m" />

        <header-file src="src/ios/classes/AVCamViewController.h" />
        <source-file src="src/ios/classes/AVCamViewController.m" />

        <header-file src="src/ios/classes/CameraParameter.h" />
        <source-file src="src/ios/classes/CameraParameter.m" />

        <resource-file src="src/ios/classes/AVCamViewController_iPhone.xib" />
        <resource-file src="src/ios/classes/AVCamViewController_iPad.xib" />

        <resource-file src="src/ios/image/icon_back.png" />
        <resource-file src="src/ios/image/icon_capture_pressed.png" />
        <resource-file src="src/ios/image/icon_capture.png" />
        <resource-file src="src/ios/image/icon_delete.png" />
        <resource-file src="src/ios/image/icon_flash_auto.png" />
        <resource-file src="src/ios/image/icon_flash_off.png" />
        <resource-file src="src/ios/image/icon_flash.png" />
        <resource-file src="src/ios/image/icon_flip.png" />
        <resource-file src="src/ios/image/icon_max.png" />
        <resource-file src="src/ios/image/icon_min.png" />
        <resource-file src="src/ios/image/icon_submit.png" />
        <resource-file src="src/ios/image/sample.png" />

        <framework src="CoreGraphics.framework" weak="true" />
        <framework src="AssetsLibrary.framework" weak="true" />
        <framework src="AVFoundation.framework" weak="true" />
        <framework src="CoreAudio.framework" weak="true" />
        <framework src="CoreLocation.framework" weak="true" />
        <framework src="MobileCoreServices.framework" weak="true" />

        <preference name="CAMERA_USAGE_DESCRIPTION" default="This app requires access to your camera to take pictures" />
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>$CAMERA_USAGE_DESCRIPTION</string>
        </config-file>
        <preference name="MICROPHONE_USAGE_DESCRIPTION" default="This app requires access to your microphone to take pictures" />
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>$MICROPHONE_USAGE_DESCRIPTION</string>
        </config-file>
        <preference name="PHOTO_LIBRARY_ADD_USAGE_DESCRIPTION" default="This app requires access to your photo library to save your pictures" />
        <config-file target="*-Info.plist" parent="NSPhotoLibraryAddUsageDescription">
            <string>$PHOTO_LIBRARY_ADD_USAGE_DESCRIPTION</string>
        </config-file>
    </platform>
</plugin>
