<?xml version="1.0" encoding="UTF-8"?>
<plugin 
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.geneanet.customCamera"
    version="0.0.3"
>
    <name>GeneanetCustomCamera</name>
    <description>This cordova plugin is an alternative to the official cordova plugin (camera). It starts a custom camera: image overlay with an opacity slider, user-defined color of the buttons, activating/deactivating functions.</description>
    <license>BSD</license>
    <keywords>custom,camera,geneanet</keywords>
    <repo>https://github.com/geneanet/customCamera</repo>
    <issue>https://github.com/geneanet/customCamera/issues</issue>
    <js-module src="www/customCamera.js" name="GeneanetCustomCamera">
        <clobbers target="navigator.GeneanetCustomCamera" />
    </js-module>

    <hook type="after_plugin_install" src="hooks/after_plugin_install/npminstall.js" />

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CustomCamera">
                <param name="android-package" value="org.geneanet.customcamera.CameraLauncher"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <source-file src="src/android/CameraLauncher.java" target-dir="src/org/geneanet/customcamera" />
        <source-file src="src/android/customCamera/src/org/geneanet/customcamera/ManagerCamera.java" target-dir="src/org/geneanet/customcamera" />
        <source-file src="src/android/customCamera/src/org/geneanet/customcamera/CameraPreview.java" target-dir="src/org/geneanet/customcamera" />
        <source-file src="src/android/customCamera/src/org/geneanet/customcamera/VerticalSeekBar.java" target-dir="src/org/geneanet/customcamera" />
        <source-file src="src/android/customCamera/src/org/geneanet/customcamera/BitmapUtils.java" target-dir="src/org/geneanet/customcamera" />
        <source-file src="src/android/customCamera/src/org/geneanet/customcamera/TmpFileUtils.java" target-dir="src/org/geneanet/customcamera" />

        <hook type="before_compile" src="hooks/before_compile/generateActivity.js" />
    </platform>
</plugin>
